body, html{
    margin: 0;
    height: calc(100% - 10px);
}

#field{
    height: calc(100% - 50px);
    border: 1px solid green;
}

.snake_segment{
    position: absolute;
}

svg{
    width: 100%;
    height: 100%;
}